@use '../../styles/variables/colors'
@use '../../styles/variables/font-size'

.button
  background-color: colors.$main-blue
  border: none
  width: 280px
  height: 36px
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  border-radius: 8px
  transition: 0.2s ease-in-out

.button_error
  color: colors.$error

.button:hover
  background-color: colors.$main-blue-hover
  transition: 0.2s ease-in-out
  cursor: pointer

.text-link
  background-color: rgba(0, 0, 0, 0)
  border: none

.button_hide
  display: none

.edit-button
  background-image: url("../../static/edit-button.svg")
  background-repeat: no-repeat
  background-position: center
  object-fit: contain
  background-color: transparent
  border: none
  margin-right: 10px

.edit-button:hover
  cursor: pointer
  opacity: 0.6
  transition: 0.2s ease-in-out


.button__add
  background-image: url("../../static/add-user.svg")
  background-repeat: no-repeat
  background-position: center
  object-fit: contain
  background-color: transparent
  border: none
  margin-right: 10px
  width: 15px

.button__add:hover
  cursor: pointer
  opacity: 0.6
  transition: 0.2s ease-in-out

.button__remove
  background-image: url("../../static/remove-user.svg")
  background-repeat: no-repeat
  background-position: center
  object-fit: contain
  background-color: transparent
  border: none
  margin-right: 10px
  width: 15px

.button__remove:hover
  cursor: pointer
  opacity: 0.6
  transition: 0.2s ease-in-out


.button__delete-chat
  background-image: url("../../static/delete-chat.svg")
  background-repeat: no-repeat
  background-position: center
  object-fit: scale-down
  background-color: transparent
  border: none
  margin-right: 10px
  width: 24px

.button__delete-chat:hover
  cursor: pointer
  opacity: 0.6
  transition: 0.2s ease-in-out