---
error404: "error404"
---
<html>
<head>
  <script src="pages/error404/error404.ts" type="module"></script>
</head>
<body class="body">
<section>
  <div id="{{ error404 }}" class="error-page"></div>
</section>

</body>
</html>