---
error500: "error500"
---
<html>
<head>
  <script src="pages/error500/error500.ts" type="module"></script>
</head>
<body class="body">
<section>
  <div id="{{ error500 }}" class="error-page"></div>
</section>

</body>
</html>