---
chat: "chat"
---
<html>
<head>
  <script src="pages/chat/chat.js" type="module"></script>
</head>
<body class="body">
<section>
  <div id="{{ chat }}" class="chat-window">
  </div>
</section>

</body>
</html>