---
profile-edit: "profile-edit"
---
<html>
<head>
  <script src="pages/profile/profile-edit.js" type="module"></script>
</head>
<body class="body">
<section>

  <div id="{{ profile-edit }}" class="profile-edit"></div>
</section>

</body>
</html>