---
profile: "profile"
---
<html>
<head>
  <script src="pages/profile/profile.js" type="module"></script>
</head>
<body class="body">
<section>
  <div id="{{ profile }}" class="profileEdit"></div>
</section>

</body>
</html>