---
profile-edit-password: "profile-edit-password"
---
<html>
<head>
  <script src="pages/profile/profile-edit-password.ts" type="module"></script>
</head>
<body class="body">
<section>

  <div id="{{ profile-edit-password }}"></div>
</section>

</body>
</html>